
<div
    class="py-8 px-6 flex flex-col sm:flex-row items-center sm:items-start sm:space-x-6 bg-gradient-to-r from-white via-blue-50 to-indigo-100 rounded-2xl shadow-md hover:shadow-lg transition-all duration-500">
    <div class="flex justify-center sm:justify-start space-x-3 mt-4">
        <a routerLink="/configuracion/configuracion" routerLinkActive="bg-blue-500 text-white"
            [routerLinkActiveOptions]="{ exact: true }"
            class="px-5 py-3 border border-blue-500 text-blue-500 text-sm font-medium rounded-lg hover:bg-blue-500 hover:text-white transition">
            Configuración
        </a>
        <a routerLink="/configuracion/parametrizacion" routerLinkActive="bg-blue-500 text-white"
            [routerLinkActiveOptions]="{ exact: true }"
            class="px-5 py-3 border border-blue-500 text-blue-500 text-sm font-medium rounded-lg hover:bg-blue-500 hover:text-white transition">
            Parametrización
        </a>
        <a routerLink="/configuracion/usuarios" routerLinkActive="bg-blue-500 text-white"
            [routerLinkActiveOptions]="{ exact: true }"
            class="px-5 py-3 border border-blue-500 text-blue-500 text-sm font-medium rounded-lg hover:bg-blue-500 hover:text-white transition">
            Usuarios
        </a>
    </div>
</div>
  <router-outlet></router-outlet>
